<h1><%=@wishlist.name%></h1>

<p> Here are your things :</p>

<table>

<tbody>
  <% @wishlist.things.each do |thing| %>
    <tr>
      <td><%= thing.name %></td>
      <td><%= link_to 'Show', thing %></td>
      <td><%= link_to 'Edit', edit_thing_path(wishlist) %></td>
      <td><%= link_to 'Destroy', thing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>

<br>

<%= link_to 'New', new_thing_path %>
<%= link_to 'Edit', edit_wishlist_path %>
<%= link_to 'Back', wishlists_path %>
<%= link_to 'Create', new_thing_path(wishlist_id:params[:id]) %>
